<!DOCTYPE html>

<html>
    <head>
        <title>404 Error</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png"
    </head>

    <body>
        {{>header}}
        <div class="main-content">
            <p class="errorMsg"> Error: {{error}}</p>        
        </div>
        {{>footer}}
    </body>
</html>