<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png"
    </head>

    <body>
        {{>header}}
        <div class="main-content">
            <h2>BAxPI Weather</h2>
            <img class="portrait" src="/img/robot.png">
            <p> This site was created following a node.js course on Udemy by Andrew Mead.
                It is meant to be for educational purposes only.
            </p>
        </div>
        {{>footer}}
    </body>
</html>